extends layout

block content
  body(onload='init();')
  h1#hello= title
  p Welcome to #{title}
  canvas#demoCanvas(width='500', height='300')
  script(type="text/javascript", src='/javascripts/game.js')