doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript", src='/javascripts/easeljs-0.8.0.min.js')
    script(src='http://code.jquery.com/jquery-1.10.2.min.js')
    script(src="/javascripts/ui.js")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    include navbar.jade
    block content
