navbar
	a(href='/') 
		h4.title Fish Tales
	a(href='/') home
	a(href='/about') about
	a#options.options-anchor('#') options
		.options-container
			include options.jade
	a#stats.options-anchor('#') stats
		.stats-container
			include stats.jade
