navbar
	a(href='/') 
		h4.title Fish Tales
	a#about.options-anchor(href='#') about
		.about-container.nav-container
			include about.jade
	a#options.options-anchor('#') options
		.options-container.nav-container
			include options.jade
	a#stats.options-anchor('#') stats
		.stats-container.nav-container
			include stats.jade
