@media(max-width: 1200px) {
    .container {
        margin: 0 50px;
    }
    #demoCanvas {
        width: 100%;
        height: auto;
    }
}

a {
  color: #26AEFF;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}
.container {
  width: 100%;
  text-align: center;
}
#demoCanvas {
  height: 500px;
  display: block;
  margin: auto;
}
navbar {
  padding-bottom: 10px;
  padding-top: 10px;
  background: #e7e7e7;
  border-radius: 0px !important;
/*  min-width: 750px;*/
  border-radius: 4px;
  border-color: #e7e7e7;
  font-size: 18px;
  display: block;
  width: 100%;
}
navbar > a {
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
}
.options-anchor {
  float: right;
}
.options-navbar {
  padding: 0 !important;
  float:right;
  width: initial;
}
.title {
  margin-left: 30px;
  display: inline;
}
